<!DOCTYPE html>
<html lang="it" dir="ltr">
  {{partial "header.html" . }}
  {{ partial "import.html" .}}
  <body>
    {{partial "navbar.html" .}}
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-left">{{.Title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr>
          Pubblicato il: {{.Params.date.Format "02-01-2006"}}
          <hr>
        </div>
      </div>
      <br>
      <div class="row">
        <div>
         <img src="{{.Params.preview_image}}" class="img-fluid" alt= "immagine {{.Title}}">
        </div>
      </div>

      <div class="row">
        <br>
        <br>
        {{ block "main" .}}

        {{end}}
      </div>
    </div>
    <br>
    {{partial "footer.html" .}}
  </body>
</html>
