@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Raleway&display=swap');
.terminal{
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    transform: translate((-50%,-50%));
    border: 5px solid gray;
    border-radius: 15px;
}
.testo{
    margin-top: 20px;
}
.caratteristiche{
    color: greenyellow;
}
.contenuto{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-family: 'Dosis', sans-serif;
        
}


