@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Raleway&display=swap');
body{
    padding-bottom: 75px;
}
.blurred{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.facebook:hover{
    fill: #036bfc
}
.instagram:hover{

    fill: #fc5e03;
}

h1,h2,h3,h4,h5,h6 .title{
    font-family: 'Dosis', sans-serif;

}


p,div{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.btn-orange{
  color: #ffffff;
  background-color: orange;
  border-color: #ffffff;
}
.border-orange{
  border-color: orange;
}

  