body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
 }
.blurred{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.facebook:hover{
    fill: #036bfc
}
.instagram:hover{

    fill: #fc5e03;
}

/* .github:hover{

    fill: #FFFFFF;

} */