<!DOCTYPE html>
<html lang="it" dir="ltr">
  {{partial "header.html" . }}
  {{ partial "import.html"}}
  <body>

    <script>
        
    $(document).ready(function() {
    var options = {
        stringsElement: '#typed-strings',
        typeSpeed: 20,
        backSpeed: 20,
        shuffle: true
    }

    var typed = new Typed("#typed", options);

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    $("#esegui").click(function(){
        $("#neofetch").slideDown("fast");
    });
    $("#pulisci").click(function(){
        $("#neofetch").hide();
    });
    });

    $(document).ready(function(){
	    $("span[name=copia]").click(function() {
		    var id = $(this).attr('id');
		    var el = document.getElementById(id);
		    var range = document.createRange();
		    range.selectNodeContents(el);
		    var sel = window.getSelection();
		    sel.removeAllRanges();
		    sel.addRange(range);
		    document.execCommand('copy');
            $(el).tooltip('hide')
            .attr('data-original-title', "Contenuto Copiato")
            .tooltip('show');
		    return false;
	    });
    });


    </script>
    {{partial "navbar.html" .}}
    <div class="container">
        <br>
        <h1>
            A B1t 0f Me - Presentazione
        </h1>
        <hr>
        <br>
        <div class="row">
            <div class="col-lg-6 col-sm-12 contenuto">
                Ciao, mi presento, mi chiamo Antonio Gorga e ho 19 anni. Frequento il primo anno di università. L'informatica è la mia più grande passione e voglio impegnarmi per trasformarla nella mia occupazione principale e non considerarla un semplice hobby. L'informatica per me non è solo una disciplina, è uno strumento per migliorarmi e crescere, a livello personale prima che professionale. Mi aiuta a rilassarmi, a pensare e mi dona soddisfazioni immense.

                Ho aperto questo sito/blog/portfolio perchè sentivo la necessità di uno spazio nel quale tener traccia di ciò che faccio e sono senza dover ricorrere per forza a questo o quel social. L' informatica non sarà l'unico tema trattato nei post che pubblicherò. La faranno sicuramente da padrone i miei progetti informatici ma ci sarà anche spazio per altri argomenti.

                Oltre all' informatica mi piacciono anche il cibo, la musica rap e la fotografia (nella quale mi applico poco), infatti il sito ha anche una sezione dedicata alle foto che ho scattato nel corso del tempo.    
            </div>
            <div class="col-lg-6 col-sm-12 terminal jusitfy-content-center">
                <h6 class="testo">
                    [root@arch user]# Mi piace <span id="typed"></span>
                </h6>
                <h6>
                    [root@arch user]# neofetch
                    <button type="button" class="btn btn-outline-light" id="esegui">Esegui</button>
                    <button type="button" class="btn btn-outline-light" id="pulisci">Pulisci</button>
                </h6>
                <h6 id="neofetch" style="display: none;">
                    <div class="row">
                        <div class="col">
                            {{partial "image-terminal.html"}}
                        </div>
                        <div class="col">
                            <br>
                            <div>
                                Name: <span class="caratteristiche"> Antonio</span>
                            </div>
                            <br>
                            <div>
                                Surname: <span class="caratteristiche">Gorga </span>
                            </div>
                            <br>
                            <div>
                                Uptime: <span class="caratteristiche">
                                    <script>
                                        var born = new Date("2002-08-30T13:00:00");
                                        var now= new Date()

                                        document.write(Math.trunc((now-born)/(60000*60*24)))
                                    </script>
                                    giorni
                                </span>
                            </div>
                            <br>
                            <div>
                                Resolution: <span class="caratteristiche">188 cm x 85 kg</span>
                            </div>


                        </div>
                    </div>

                    </p>
                </h6>
            </div>
            <div id="typed-strings">
                <p> Programmare</p>
                <p>^1000 Studiare</p>
                <p>^1000 Scoprire</p>
                <p>^1000 Scrivere</p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <h1>Contatti</h1>
                <section id="contatti">
                    <h5>
                        Nonostante non lo adori, sono anche su instagram. <a href="{{.Site.Params.instagram}}">Vai ad instagram</a><br>
                    <br> Qui trovate il link a github, dove ci sono tutti i miei repo (incluso il codice del sito) e quelli dei miei progetti. <a href="{{.Site.Params.github}}">Vai a GitHub</a> <br>
                    <br>Inoltre, se voleste contattarmi, potete farlo scrivendo una mail a <span id="email" name="copia" data-toggle="tooltip" title="Clicca per copiare" > <mark><strong>ab1t0fme.it@gmail.com</strong></mark>  </span><br>
    
                    </h5>
                </section>

            </div>

        </div>

    </div>
  </body>
</html>
