<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  {{if eq .Type "about"}}
  <link rel="stylesheet" href="/css/about.css">
  {{end}}
  {{if eq .Type "categorie"}}
  <link rel="stylesheet" href="/css/categorie.css">
  {{end}}
  {{if eq .Params.display_code true}}
  <link rel="stylesheet" href="/css/prism.css">
  {{end}}
  <title>{{.Site.Title}} {{ .Params.subt}}  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <meta name="description" 
  content="{{if .Params.descrizione_meta}} 
  {{.Params.descrizione_meta}} 
  {{else}}  
  {{.Site.Params.descrizione_meta}}
  {{end}}">
</head>
