<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  {{if eq .Type "about"}}
  <link rel="stylesheet" href="/css/about.css">
  {{end}}
  <title>{{.Site.Title}} {{ .Params.subt}}  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
</head>
