<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">
      <img src="/images/photo_2020-09-12_08-45-27.jpg" width="30" height="40" class="d-inline-block align-top" alt="" loading="lazy" >
      Antonio Gorga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
      {{ if eq .Type "page"}}
      <li class="nav-item active">
      {{else}}
      <li class="nav-item">
      {{end}}
        <a class="nav-link" href="{{.Site.BaseURL}}">Home <span class="sr-only">(current)</span></a>
      </li>
      {{if eq .Type "foto"}}
      <li class="nav-item active">
      {{else}}
      <li class="nav-item">
      {{end}}
        <a class="nav-link" href="{{.Site.BaseURL}}/foto">Foto</a>
      </li>
      {{ if  eq .Type "post"}}
      <li class="nav-item active">
      {{else}}
      <li class="nav-item">
      {{end}}
        <a class="nav-link "href="{{.Site.BaseURL}}/post">Blog</a>
      </li>
      <li>
        <a class="nav-link "href="{{.Site.BaseURL}}/about">Contatti</a>
      </li>
    </ul>
  </div>
</nav>
