<!DOCTYPE html>
<html lang="it" dir="ltr">
  {{ partial "import.html"}}
  {{partial "header.html" . }}
  <body>
    <script>
      $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    {{partial "navbar.html" .}}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex align-items-center">
            <img src="https://res.cloudinary.com/antoniosite/image/upload/v1601124551/HomePage/20200926_144048_dqgr9j.png" alt="Pc" class="img-fluid" />
          </div>
        <div class="col-sm-6 col-md-6 d-flex align-items-center" >
          <p>
            Ciao, mi presento, mi chiamo Antonio Gorga e ho 18 anni. Frequento il 5 anno di liceo scientifico, corso scienze applicate. L'informatica e' la mia piu' grande passione e voglio impegnarmi per trasformarla nella mia occupazione principale e non considerarla un semplice hobby. L'informatica per me non e' solo una disciplina, e' uno strumento per migliorarmi e crescere, a livello personale prima che professionale. Mi aiuta a rilassarmi, a pensare e mi dona soddisfazioni immense.
            <a href="{{.Site.BaseURL}}/about" data-toggle="tooltip" title="Continua a Leggere">[...]</a>
          </p>
        </div>
      </div>
      <br>
      <hr>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex align-items-center">
          <p>
            Oltre all' informatica mi piacciono anche il cibo, la musica rap e la fotografia (nella quale mi applico poco), infatti il sito ha anche una sezione dedicata alle foto che ho scattato nel corso del tempo.
          </p>

        </div>
        <div class="col-sm-6 col-md-6 d-flex align-items-center">
          <img src="https://res.cloudinary.com/antoniosite/image/upload/v1601014315/HomePage/PicsArt_09-24-05.43.57_u34jto.jpg" class="img-fluid" alt="Passioni"/>
        </div>
      </div>
      <hr>
      <!--Carosello-->
      <div id="CarouselControl" class="carousel slide" data-ride="carousel">
        {{$primo:=true}}
        <div class="carousel-inner">
          {{ range where .Site.Pages "Params.featured" true}}
            {{ if eq $primo true}}
              <div class="carousel-item active">
            {{else}}
              <div class="carousel-item">
            {{end}}
                  <img class="d-block w-100 blurred" src="{{.Params.preview_image}}" alt="slide" />
                  <div class="carousel-caption d-none d-md-block">
                    <h5> <a href="{{.Permalink}}">{{.Title}}</a></h5>
                    <p>{{.Params.preview}}</p>
                  </div>
                  <div class="carousel-caption d-md-none">
                    <!-- D IMPOSTA SE VISUALIZZARE O MENO IL CONTENUTO -->
                    <h5><a href="{{.Permalink}}">{{.Title}}</a></h5>
                  </div>
                </div>


        {{$primo = false}}
        {{end}}

        <a class="carousel-control-prev" href="#CarouselControl" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Precedente</span>
        </a>
        <a class="carousel-control-next" href="#CarouselControl" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Successivo</span>
        </a>
      </div>
      <br>
    </div>
    </div>
    {{partial "footer.html" . }}
  </body>
</html>

<!-- TODO: SISTEMARE LAFOOTBAR IN MODO CHE LE ICONE APPAIANO SOLO SE METTO IL LINK   -->
