<!DOCTYPE html>
<html lang="it" dir="ltr">
  {{partial "header.html" . }}
  <body>
    {{partial "navbar.html" .}}
    <!-- TODO: sistemare versione mobile che si allinea a sinistra -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex align-items-center">
            <img src="https://res.cloudinary.com/antoniosite/image/upload/v1600027858/HomePage/tipoalpc.jpg" alt="" class="img-fluid" />
          </div>
        <div class="col-sm-6 col-md-6 d-flex align-items-center" >
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sagittis urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean ultricies sem vel odio posuere, nec commodo mauris vehicula. Curabitur commodo justo et lorem sagittis, nec varius justo vulputate. Nunc ac volutpat enim. Pellentesque eleifend volutpat neque quis euismod. Fusce venenatis nisi vel finibus porta. Phasellus dapibus consectetur ipsum, et malesuada nisl porttitor ac. Nullam et placerat metus. Aliquam interdum imperdiet mattis. Etiam pharetra turpis massa, sed pellentesque erat consequat sit amet. Ut posuere lorem facilisis, ultrices ante et, dictum leo. Vestibulum tristique lacus nisi, non volutpat orci consectetur in.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          PQuisque scelerisque lacus in nulla consectetur, at dignissim magna varius. Nullam dictum congue leo ac vestibulum. Mauris id urna blandit, consectetur tortor non, consectetur nunc. Etiam consectetur feugiat nibh iaculis ornare. Donec mollis leo sit amet augue vehicula, non maximus sapien dapibus. Nulla facilisi. In scelerisque purus id sem convallis tincidunt id at nisl. Etiam nunc felis, vehicula vitae tristique ac, varius vel erat. Proin nibh velit, consequat quis lacinia in, mollis eget sem. Proin feugiat felis vel eros blandit, sed malesuada eros pharetra. Nullam sodales dui a justo aliquam rutrum. Ut non ullamcorper nunc. Morbi eu vestibulum lorem, quis aliquet justo. Curabitur arcu quam, vestibulum non turpis vitae, tempor dapibus turpis.
        </div>
        <div class="col-sm-6 col-md-6 d-flex align-items-center">
          <img src="https://res.cloudinary.com/antoniosite/image/upload/v1600011271/1_k8gh4v.jpg" class="img-fluid" />
        </div>
      </div>
      <hr>
      <!--Carosello-->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        {{$primo:=true}}
        <div class="carousel-inner">
          {{ range where .Site.Pages "Params.featured" true}}
            {{ if eq $primo true}}
              <div class="carousel-item active">
            {{else}}
              <div class="carousel-item">
            {{end}}
                  <img class="d-block w-100 blurred" src="{{.Params.preview_image}}" alt="slide" />
                  <div class="carousel-caption d-none d-md-block">
                    <h5> <a href="{{.Permalink}}">{{.Title}}</a></h5>
                    <p>{{.Params.preview}}</p>
                  </div>
                  <div class="carousel-caption d-md-none">
                    <!-- D IMPOSTA SE VISUALIZZARE O MENO IL CONTENUTO -->
                    <h5><a href="{{.Permalink}}">{{.Title}}</a></h5>
                  </div>
                </div>


        {{$primo = false}}
        {{end}}

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br>
    </div>
    </div>
    {{partial "footer.html" . }}
    {{ partial "import.html"}}
  </body>
</html>

<!-- TODO: SISTEMARE LAFOOTBAR IN MODO CHE LE ICONE APPAIANO SOLO SE METTO IL LINK   -->
