<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{partial "header.html" . }}
  <body>
    {{partial "navbar.html" .}}
    METTERCI L'HTML GIÀ FATTO
    {{ if isset $.Params "facebook"}}
     qua deve apparire {{$.Site.Params.facebook}}
    {{end}}
    <br>
    {{ range where .Site.Pages "Params.featured" true}} <!--Capire-->
    <br>
      {{.Content}}
      {{.Params.title}}
    {{end}}
    {{partial "footer.html"}}
    {{ partial "import.html"}}

  </body>
</html>

<!-- TODO: SISTEMARE LAFOOTBAR IN MODO CHE LE ICONE APPAIANO SOLO SE METTO IL LINK   -->
